@font-face {
   font-family: 'Nexa';
   font-style: normal;
   font-weight: 400;
   src: url("./assets/fonts/Nexa-Regular.otf") format("opentype"),
      url("./assets/fonts/Nexa-Regular.ttf") format("truetype"),
      url("./assets/fonts/Nexa-Regular.eot") format("embedded-opentype");
}

@font-face {
   font-family: 'Nexa';
   font-style: normal;
   font-weight: 500;
   src: url("./assets/fonts/Nexa-Bold.otf") format("opentype"),
      url("./assets/fonts/Nexa-Bold.ttf") format("truetype"),
      url("./assets/fonts/Nexa-Bold.eot") format("embedded-opentype");
}

@font-face {
   font-family: 'Nexa';
   font-style: normal;
   font-weight: 600;
   src: url("./assets/fonts/Nexa-XBold.otf") format("opentype"),
      url("./assets/fonts/Nexa-XBold.ttf") format("truetype"),
      url("./assets/fonts/Nexa-XBold.eot") format("embedded-opentype");
}

:root {
   --bodytxt: #6a6a6a;
   --sitecolor: #0087be;
   --monst: 'Montserrat', sans-serif;
   --open: 'Open Sans', sans-serif;
   --lato: 'Lato', sans-serif;
   --nexa: 'Nexa';
}

body {
   font-family: var(--open);
   font-weight: normal;
   font-size: 16px;
   line-height: normal;
}

* {
   box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
   font-family: var(--monst);
   margin: 0;
}

h1,
.h1 {
   font-size: 48px;
   font-weight: 600;
   line-height: 1.25;
   letter-spacing: -1.5px;
   margin-bottom: 24px;
}

h2,
.h2 {
   font-size: 45px;
   font-weight: bold;
}

h3,
.h3 {
   font-size: 30px;
   font-weight: bold;
   margin: 0 0 13px 0;
}

h4,
.h4 {
   font-size: 25px;
   font-weight: 500;
}

h5,
.h5 {
   font-size: 22px;
   font-weight: bold;
}

h6,
.h6 {
   font-size: 20px;
   font-weight: 500;
}

p {
   margin: 0 0 10px 0;
   line-height: 1.9;
}

a {
   text-decoration: none;
   color: var(--bodytxt);
}

.w100 {
   width: 100%;
}

button,
.btn {
   font-family: var(--lato);
   font-weight: bold;
   background-color: var(--sitecolor);
   border: 0;
   border-radius: 20px;
   color: #fff;
   padding: 11px 27px;
   font-size: 19px;
   cursor: pointer;
   box-shadow: 1px 8px 10px #c9c9c9;
   transition: 0.5s all;
}

button:hover,
.btn:hover{
   padding: 11px 32px;
}

.container {
   padding: 0 15px;
   max-width: 1223px;
   margin: 0 auto;
}

.df {
   display: flex;
   flex-wrap: wrap;
}

.grid{
   display: grid;
}

.por {
   position: relative;
}

.uppercase {
   text-transform: uppercase;
}

.objimg {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}

.nolist {
   list-style: none;
}

.text-center {
   text-align: center;
}

.secspace{
   padding: 60px 0;
}



/* header */
.top_header {
   margin: 22px 0 0 0;
   padding: 0 0 12px 0;
   border-bottom: 1px solid #ccc;
}

.sitelogo {
   padding: 12px 0;
}

.headcontact {
   margin-left: auto;
}

.headcontact ul {
   margin: 0;
   padding: 0;
}

.headcontact ul li {
   padding: 11px 0 0 36px;
}

.headcontact ul .ctaico {
   height: 51px;
   width: 51px;
   border-radius: 50%;
   background-color: var(--sitecolor);
   color: #fff;
   justify-content: center;
   align-items: center;
   font-size: 27px;
   margin: 0 11px 0 0;
}

.headcontact ul .ctaico i {
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.headcontact ul li:hover .ctaico i {
   -webkit-animation-name: flip;
   animation-name: flip;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
   -webkit-animation-iteration-count: once;
   animation-iteration-count: once;
}

@keyframes hvr-icon-pulse {
   25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }

   75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
}


.headcontact ul h6 {
   font-size: 15px;
   font-family: var(--open);
   font-weight: bold;
   margin: 0;
   transition: 0.5s all;
}

.headcontact ul li:hover h6 {
   color: var(--sitecolor);
}

.headct_info {
   width: calc(100% - 62px);
   margin: 8px 0 0 0;
}

.headct_info p {
   white-space: nowrap;
   line-height: normal
}


nav {
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 0.3px;
}

nav ul {
   padding: 0;
}

nav ul li {
   font-family: var(--nexa);
   margin: 10px 13px;
}

nav ul li:first-child {
   margin-left: 0;
}

.bottom_header .socials {
   margin: 10px 0 11px auto;
}

.socials ul li {
   margin: 9px 14px 0;
   font-size: 21px;
}

.socials ul li:last-child {
   margin-right: 0;
}

/* banner */
.banner {
   min-height: 400px;
}

.bnr_info {
   max-width: 610px;
   padding: 40px 0;
   min-height: 639px;
   align-content: center;
}


/* services */

.services {
   background-color: var(--sitecolor);
   color: #fff;
}

.services .container{
   max-width: 100%;
   padding: 0;
}
.servicebox {
   grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
}

.serveicon{
   display: inline-flex;
   background-color: #fff;
   width: 75px;
   height: 75px;
   border-radius: 50%;
   align-items: center;
   justify-content: center;
   margin: 0 0 14px 0;
}

.serviceitem{   
    padding: 80px 30px 41px;
    z-index: 1;
}

.serviceitem:after{
   content: "";
   position: absolute;
   inset: 0;
   background-color: #37c3a8;
   z-index: -1;
}

.serviceitem:first-child:after{
   opacity: 0.4;
}

.serviceitem:nth-child(2):after{
   opacity: 0.6;
}

.serviceitem:nth-child(3):after{
   opacity: 0.8;
}





/* responsive */

@media(min-width:1200px) {
   .bnrbtn {
      margin: 32px 0 16px;
   }
}